# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
ktp_ocr_env/
env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Flask uploads folder
ktp case/
sim case/

# Output files
output_json/

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dependency folders
*.egg-info/
dist/
build/
test_data/

# PaddleOCR cache
__paddle__/

# Personal debugging and tools
ktp guestbook/
ocr_logs/
debug_output/
debug_sim_image.py
debug_sim.py
debug_ktp.py
evaluate_kpi.py
generate_excel_report.py
labeling_tool.py